.feature_bg {
  border-radius: 50px;
  background: #4ab9a7;
  box-shadow: 12px 12px 24px #2a9b88, -12px -12px 24px #edf5f3;
  position: absolute;
}
.types {
  /* border-radius: 50px; */
  background: hsl(225, 100%, 99%);
  box-shadow: 12px 12px 24px #4ab9a7, -12px -12px 24px #eff1f3;
}

@media only screen and (max-width: 570px) {
  .feature_bg {
    border-radius: 50px;
    background: #4ab9a7;
    box-shadow: 12px 12px 24px #ebecf1, -12px -12px 24px #eff1f3;
    position: static;
  }
  .blog_card {
    margin-bottom: 20px;
  }
  .left-side h3,
  h5 {
    font-size: 14px;
  }
  .left-side {
    margin: 0px;
    padding: 0px;
    top: 0;
    left: 0;
    height: 20%;
  }
  .right-side {
    top: 10;
    left: 0;
    height: 50%;
    line-height: 25px;
  }
  .right-side h6,
  p {
    font-size: 14px;
    color: rgb(38, 56, 56);
  }
}
